// IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@400;700&display=swap');

// VARIABLES
$post_container_width: 700px;
$color_primary: #185c36;
$color_secondary: #ed9821;
$color_accent: #e5e5e5;
$color_danger: #dc3545;
$box_shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;

:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

main {
  width: 95dvw;
  height: calc(100dvh - 20px);
  margin: auto;
  justify-content: space-between;
  padding: 10px;
}

button {
  cursor: pointer;
}

// Utility classes
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#auth-heading {
  gap: 1rem;
  align-items: center;
  display: none;

  h2 {
    color: $color_secondary;
  }

  button {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: $color_danger;
    color: #ffffff;
  }
}

// Posts and post elements
#posts-container {
  gap: 10px;
  overflow-y: auto;
  padding: 10px;
  width: 100%;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: solid 1px #e0e0e0;
  border-radius: 10px;
  padding: 2rem;
  margin: auto;
  width: 95%;
  height: fit-content;
  // box-shadow: $box_shadow;
  background-color: #ffffff;

  * {
    margin: 0;
  }

  .post-title {
    color: $color_primary;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
  }

  .post-byline {
    display: flex;
    align-items: center;

    .post-delete {
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 5px;
      height: 2rem;
      width: 2rem;
      background-color: $color_danger;

      span {
        font-size: 1rem;
        color: #ffffff;
      }
    }
  }

  .post-author,
  .post-date {
    font-size: 1rem;
  }

  .post-author::after {
    content: '//';
    margin: 0 5px;
  }

  .divider {
    height: 1px;
    width: 100%;
    background-color: $color_secondary;
  }
}

// New post button
#new-post-button {
  padding: 10px 2rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 5px;
  background-color: $color_secondary;
}

// New post and login forms
.modal {
  border: none !important;
  border-radius: 10px;

  .modal-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .modal-title {
      color: $color_primary;
    }

    .modal-close {
      height: 2rem;
      width: 2rem;
      border: none;
      border-radius: 5px;
      font-size: 1.5rem;
      font-weight: 200;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    input,
    textarea,
    button {
      padding: 0.75rem;
      line-height: calc(1rem + 5px);
    }

    input,
    textarea {
      background-color: $color_accent;
      border: none;
      border-radius: 5px;
    }

    button {
      border: none;
      border-radius: 5px;
      background-color: $color_secondary;
    }

    label {
      margin-bottom: 10px;
    }

    .form-group {
      display: flex;
      flex-direction: column;
    }

    .error-msg {
      color: $color_danger;
      font-size: 0.8rem;
      font-style: italic;
      text-align: center;
    }
  }
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.35);
}
