// VARIABLES
$post_container_width: 700px;

:root {
  font-family: sans-serif;
  font-size: 16px;
}

main {
  width: 95dvw;
  height: calc(100dvh - 20px);
  margin: auto;
  justify-content: space-between;
  padding: 10px;
}

// Utility classes
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#posts-container {
  gap: 10px;
  overflow-y: scroll;
  padding: 10px;
  width: 90%;
}

// Posts and post elements
.post {
  display: grid;
  grid-template-areas:
    'title title'
    'author date'
    'body body';
  border: solid 1px #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  width: 90%;
  height: fit-content;

  .post-title {
    grid-area: title;
  }

  .post-author {
    grid-area: author;
  }

  .post-date {
    grid-area: date;
  }

  .post-body {
    grid-area: body;
  }
}

// New post button
#new-post-button {
  padding: 5px 2rem;
  border: none;
  border-radius: 5px;
}

// New post form
.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group {
  gap: 5px;
}
