#editor {
  width: 55dvw;
  height: 35vh;
  font-size: 1rem;
  background-color: #e5e5e5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}

.ql-toolbar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.post-body ul {
  list-style: disc inside;
  padding-left: 10px;
}

.post-body ol {
  list-style: decimal inside;
  padding-left: 10px;
}
